@use '../scss/base';
@use '../scss/components';

/*
span.poke-type {
    display: inline-block;
}


span.poke-type.water {
    background-color: #78B6D9;
}

h1.example.water {
    background-color: #78B6D9;
}*/